.navbar {
  margin-top: 15px;
}

#tableFreqAnswer {
  margin-top: 15px;
}

#frequency-analysis, 
#cesar, 
#atbash, 
#replace, 
#flasner, 
#viet,
#wrapFreqAnswer,
#tableFreqAnswer, 
#freqDecodedWrap,
#cesarAnsWrap,
#atbashAnsWrap,
#replaceAnsWrap,
#flasnerAnsWrap,
#vietAnsWrap,
#btnFlasnerEncrypt,
#btnFlasnerDecrypt {
  display: none;
}
#freqDecodedWrap,
#cesarAnsWrap,
#atbashAnsWrap,
#replaceAnsWrap,
#btnAnalysis,
#flasnerTable,
#btnFlasnerEncrypt,
#btnFlasnerDecrypt{
  margin-top: 10px;
}
#footer {
  height: 100px;
}

#flasnerTable tr {
  height: 25px;
}
#flasnerTable td {
  width: 25px;
  border: 1px solid slategray;
  text-align: center;
  vertical-align: center;
}